<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>TAJAM</title>
	<link rel="stylesheet" href="index.css">
	<link href="https://fonts.googleapis.com/css?family=Hammersmith+One|Playfair+Display:400,700,900|Roboto:100,300,400,900" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
	<link rel="stylesheet" href="slick/slick-theme.css">
	<link rel="stylesheet" href="slick/slick.css">
</head>
<body>
	<header>
		<div class="container header-container">
			<div class="header-logo">
				<img src="pic/logo1.png">
				<h1>tajam</h1>
			</div>
			<nav class="header-nav">
				<ul>
					<li><a href="">home</a></li>
					<li><a href="">about</a></li>
					<li><a href="">expertise</a></li>
					<li><a href="">teams</a></li>
					<li><a href="">works</a></li>
					<li><a href="">people say</a></li>
					<li><a href="">contact</a></li>
				</ul>
			</nav>
			<a class="header-menu-btn">
				<span></span>
			</a>
		</div>
	</header>
	<main>
		<section id="hero">
			<div class="container hero-container">
				<div class="hero-item">
					<h2>We Are</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto est a explicabo et velit corporis veniam reiciendis laudantium similique excepturi, recusandae, earum eius aspernatur sint fugit. Atque, asperiores, cupiditate. In!</p>
					<div><button class="main-btn">learn more</button></div>
				</div>
				<div class="hero-item">
					<h2>Awesome</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto est a explicabo et velit corporis veniam reiciendis laudantium similique excepturi, recusandae, earum eius aspernatur sint fugit. Atque, asperiores, cupiditate. In!</p>
					<div><button class="main-btn">learn more</button></div>
				</div>
				<div class="hero-item">
					<h2>Creative</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto est a explicabo et velit corporis veniam reiciendis laudantium similique excepturi, recusandae, earum eius aspernatur sint fugit. Atque, asperiores, cupiditate. In!</p>
					<div><button class="main-btn">learn more</button></div>
				</div>
				<div class="hero-item">
					<h2>Agency</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto est a explicabo et velit corporis veniam reiciendis laudantium similique excepturi, recusandae, earum eius aspernatur sint fugit. Atque, asperiores, cupiditate. In!</p>
					<div><button class="main-btn">learn more</button></div>
				</div>
			</div>
		</section>
		<section id="story">
			<div class="container story-container">
				<div class="story-img">
					<img src="pic/story-img.png">
				</div>
				<div class="story-text">
					<h2>our story</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis iure minima eveniet, natus dicta id sit, eum mollitia ea accusantium!</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis iure minima eveniet, natus dicta id sit, eum mollitia ea accusantium!</p>
					<div><button class="main-btn">learn more</button></div>
				</div>
			</div>			
		</section>
		<section id="video">
			<div class="container video-watch">
				<i class="far fa-play-circle"></i>
				<h3>watch our story</h3>
			</div>
		</section>
		<section id="expertise">
			<div class="container">
				<div class="title">
					<h2>expertise</h2>
					<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, in.</h3>
				</div>
				<div class="expertise-block">
					<div class="expertise-block-item">
						<i class="fas fa-desktop"></i>
						<span>web design & development</span>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur corporis eius exercitationem sed, facere recusandae!</p>
					</div>
					<div class="expertise-block-item">
						<i class="fas fa-paint-brush"></i>
						<span>branding identity</span>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur corporis eius exercitationem sed, facere recusandae!</p>
					</div>
					<div class="expertise-block-item">
						<i class="fas fa-mobile-alt"></i>
						<span>mobile app</span>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur corporis eius exercitationem sed, facere recusandae!</p>
					</div>
					<div class="expertise-block-item">
						<i class="fas fa-chart-pie"></i>
						<span>search engine optimization</span>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur corporis eius exercitationem sed, facere recusandae!</p>
					</div>
					<div class="expertise-block-item">
						<i class="fas fa-gamepad"></i>
						<span>game development</span>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur corporis eius exercitationem sed, facere recusandae!</p>
					</div>
					<div class="expertise-block-item">
						<i class="far fa-heart"></i>
						<span>made with love</span>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur corporis eius exercitationem sed, facere recusandae!</p>
					</div>
				</div>
			</div>
		</section>
		<section id="team">
			<div class="container team-container">
				<div class="title title-w">
					<h2>meet our amazing team</h2>
					<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, dolore.</h3>
				</div>
				<div class="team-block">
					<div class="team-block-item">
						<img src="pic/team1.jpg">
						<h4>semf ucuk</h4>
						<span>ceo & founder</span>
					</div>
					<div class="team-block-item">
						<img src="pic/team2.jpg">
						<h4>dik adalin</h4>
						<span>engineering</span>
					</div>
					<div class="team-block-item">
						<img src="pic/team3.jpg">
						<h4>jeng kol</h4>
						<span>designer</span>
					</div>
					<div class="team-block-item">
						<img src="pic/team1.jpg">
						<h4>pet romak</h4>
						<span>marketing</span>
					</div>
				</div>
				<span>Become part of our dream team, let`s join us!</span>
				<div><button class="main-btn">we are hiring</button></div>
			</div>			
		</section>
		<section id="works">
			<div class="container">
				<h2>our works</h2>
				<br>
				<a href="">See All Project in dribble <i class="fas fa-chevron-right"></i></a>
			</div>
			<div class="works-block">
				<div v-if="numPics <= pictures.length" v-for="numPics in picturesToShow">
			        <a :href="pictures[numPics-1].workRef"><img :src="pictures[numPics-1].picRef"></a>
			  	</div>
			</div>
			<div><button class="main-btn" v-if="picturesToShow <= 15" @click="picturesToShow +=3">load more</button></div>
		</section>
		<section id="testimonials">
			<div class="container testimonials-container">
				<div class="testimonials-item">
					<i class="fas fa-quote-left"></i>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod non explicabo eos! Sapiente placeat, maiores quas nesciunt earum. Quia expedita laborum voluptatibus id explicabo debitis sint similique in doloremque saepe numquam impedit, unde deserunt eius nobis, maxime fuga consectetur assumenda.</p>
					<h4>jane galadriel</h4>
					<span>ceo tengkurep</span>
				</div>
				<div class="testimonials-item">
					<i class="fas fa-quote-left"></i>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod non explicabo eos! Sapiente placeat, maiores quas nesciunt earum. Quia expedita laborum voluptatibus id explicabo debitis sint similique in doloremque saepe numquam impedit, unde deserunt eius nobis, maxime fuga consectetur assumenda.</p>
					<h4>jane galadriel</h4>
					<span>ceo tengkurep</span>
				</div>
				<div class="testimonials-item">
					<i class="fas fa-quote-left"></i>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod non explicabo eos! Sapiente placeat, maiores quas nesciunt earum. Quia expedita laborum voluptatibus id explicabo debitis sint similique in doloremque saepe numquam impedit, unde deserunt eius nobis, maxime fuga consectetur assumenda.</p>
					<h4>jane galadriel</h4>
					<span>ceo tengkurep</span>
				</div>
				<div class="testimonials-item">
					<i class="fas fa-quote-left"></i>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod non explicabo eos! Sapiente placeat, maiores quas nesciunt earum. Quia expedita laborum voluptatibus id explicabo debitis sint similique in doloremque saepe numquam impedit, unde deserunt eius nobis, maxime fuga consectetur assumenda.</p>
					<h4>jane galadriel</h4>
					<span>ceo tengkurep</span>
				</div>
				<div class="testimonials-item">
					<i class="fas fa-quote-left"></i>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod non explicabo eos! Sapiente placeat, maiores quas nesciunt earum. Quia expedita laborum voluptatibus id explicabo debitis sint similique in doloremque saepe numquam impedit, unde deserunt eius nobis, maxime fuga consectetur assumenda.</p>
					<h4>jane galadriel</h4>
					<span>ceo tengkurep</span>
				</div>
			</div>
		</section>
		<section id="clients">
			<div class="container clients-container">
				<div class="clients-form">					
					<h2>give us a good news</h2>
					<form>
						<input type="text" name="name"  placeholder="Name">
						<input type="mail" name="mail"  placeholder="Email">
						<input type="text" name="subject"  placeholder="Subject">
						<textarea placeholder="Your Message" rows="5"></textarea>
						<div><button class="main-btn">submit</button></div>
					</form>					
				</div>
				<div class="clients-logos">
					<h2>our happy client</h2>
					<div class="clients-logos-block">
						<div><img src="pic/partner1.png"></div>
						<div><img src="pic/partner2.png"></div>
						<div><img src="pic/partner3.png"></div>
						<div><img src="pic/partner4.png"></div>
						<div><img src="pic/partner5.png"></div>
						<div><img src="pic/partner6.png"></div>
						<div><img src="pic/partner7.png"></div>
						<div><img src="pic/partner8.png"></div>
						<div><img src="pic/partner9.png"></div>
						<div><img src="pic/partner10.png"></div>
					</div>
				</div>
			</div>
		</section>
	</main>
	<footer>
		<div class="container">
			<div class="footer-left">
				<div class="footer-logo">
					<img src="pic/logo1.png">
					<h1>tajam</h1>
				</div>
				<div class="footer-text">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui harum nisi fuga maxime quaerat autem, veniam quis odio dolorem sapiente.</p>
				</div>
				<div class="footer-nav">
					<ul>
						<li><a href="">help</a></li>
						<li><a href="">terms & condition</a></li>
						<li><a href="">privacy</a></li>
					</ul>
				</div>
			</div>
			<div class="footer-middle">
				<div class="footer-head">
					<h3>our studio</h3>
				</div>
				<div class="footer-contact">
					<i class="fas fa-map-marker-alt"></i>
					<p>Ruko cucruk, Jl. Radio luar dalem jos No.12 - 13, Kalideres - Jakarta Barat 11480 - Indonesia</p>
				</div>
				<div class="footer-contact">
					<i class="fas fa-phone"></i>
					<p>(+62) 21-2224 3333</p>
				</div>
			</div>
			<div class="footer-right">
				<div class="footer-head">
					<h3>stay in touch</h3>
				</div>
				<form class="footer-form">
					<input type="mail" name="Subscribe" placeholder="Subscribe our newsletter">
					<button><i class="fas fa-location-arrow"></i></button>
				</form>
				<div class="footer-social">
					<div><i class="fab fa-facebook-f"></i></div>
					<div><i class="fab fa-twitter"></i></div>
					<div><i class="fab fa-dribbble"></i></div>
					<div><i class="fab fa-instagram"></i></div>
					<div><i class="fab fa-google-plus-g"></i></div>
					<div><i class="fab fa-youtube"></i></div>
				</div>
				<div class="footer-copy">
					<span>Copyright © 2015 - Tajem Creative</span>
				</div>
			</div>
		</div>
	</footer>

	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="slick/slick.min.js"></script>
	<script src="index.js"></script>	
</body>
</html>